.buttons-wrapper {
	margin: auto 0;
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 30px;
	width: 100%;
}

.buttons-wrapper button {
	border: none;
	outline: none;
	border-radius: 10px;
	margin: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 50px;
	background: #515ada;
	background: linear-gradient(45deg, #8086dd 0%, #515ada 100%);
	cursor: pointer;
}

.buttons-wrapper button.disabled {
	color: #000;
	background: #515151;
	background: linear-gradient(45deg, #808080 0%, #515151 100%);
	cursor: default;
}
